body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

* {
 display: block;
}

.left, .right {
  width: 20%;
}

.main {
  width: 60%;
  margin-bottom: 70px;
}

.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  margin-bottom: 70px;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

p {
  font-family: pixelFont;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  outline: 0;
  color: black;
  display: inline;

  &:hover {
    color: #ffb200;
  }
  &:active {
    color: #ffb200;
  }
}

/** Styles for simple tab **/
.tab-page {
  display:none;
}

.active-page {
  display: block;
}

.schedule-day {
  position: relative;
  padding: 15px;
  margin: 30px 0;
}

.schedule-day:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  background-image: url("../img/plant-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}

.schedule {
  margin-top: 50px;
}