body {
  margin: 0;
  height: 100%;
  .grad;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  margin-bottom: 50px;
}

.headline {
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.sub-headline {
  font-size: 24px;
}

.sub-sub-headline {
  font-size: 16px;
  margin: 15px;

}



.nav {
  width: 100%;
  min-width: 100px;
  height: 150px;
  .row;
  .center;
  .center-justified;
}

.nav a {
  text-decoration: none;
  font-size: 30px;
}

.brand {
  width: 100%;
  max-width: 250px;
  margin-left: 20px;
  margin-right: 70px;
  height: auto;
  min-width: 100px
}

.menu {
  margin-top: 25px;
  margin-right: 25px;
  .row;
  .center;
  .center-justified;
}

.left, .right {
  width: 20%;
}

.main {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 930px;
  .column;
}

.schedule-item {
  width: 60%;
  height: auto;
  float: left;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  height: 200px;
}

.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  min-height: 150px;
  width: 100%
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

p {
  font-family: pixelFont;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  outline: 0;
  color: @primary-color;
  display: inline;

  &:hover {
    color: @accented-color;
  }
  &:active {
    color: @accented-color;
  }
}

.dropdown, .dropdown > dd, .dropdown > dt {
  margin: 0;
  padding: 0;
}

.dropdown > dd {
  position:relative;
}

.dropdown dd > ul {
  margin: 0;
  padding: 5px 25px;
  list-style: none;
  background: #fff;
  border: 2px solid black;
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
  width: auto;
}

.dropdown dd > li {
  margin: 5px;
  padding: 0px;
}
