body {
  margin: 0;
  height: 100%;
  .grad;
  background-repeat: no-repeat;
}

* {
 display: block;
}

.left, .right {
  width: 20%;
}

.main {
  width: 60%;
  margin-bottom: 70px;
}

.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar {
  margin-bottom: 70px;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
}

p {
  font-family: pixelFont;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  outline: 0;
  color: black;
  display: inline;

  &:hover {
    color: #ffb200;
  }
  &:active {
    color: #ffb200;
  }
}

.content {
  max-width: 910px;
}