// Colors
@primary-color: black;
@secondary-color: white;
@accented-color: #ffb200;

// Fonts
@font-face {
  font-family: supermario;
  src: url("../fonts/SuperMario256.ttf");
}

@font-face {
  font-family: pixelFont;
  src: url("../fonts/MP16REG.ttf");
}

@font-face {
  font-family: pixelIconFont;
  src: url(../fonts/MP16TO1.ttf);
}

@import "responsive";
@import "utility";
@import "base";
@import "supermario";