/** All styles associated with the super mario theme */

.nav-supermario {
  font-family: supermario;
  font-size: 30px;
  .row;
  .center;
  .center-justified;
}

.ground {
  background-image: url("../img/ground.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.cloud1 {
  background-image: url("../img/cloud1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}

.cloud2{
  background-image: url("../img/cloud2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 150px;
}

.cloud3 {
  background-image: url("../img/cloud3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 270px;
  height: 150px;
}

.cloud4 {
  background-image: url("../img/cloud4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}

.clock {
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 31px;
  margin-right: 8px;
}

.plant-middle {
  background-image: url("../img/plant-middle.svg");
  background-repeat: repeat-y;
  background-size: contain;
  width: 50px;
}

.plant-top {
  background-image: url("../img/plant-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.plant-bottom {
  background-image: url("../img/plant-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}



.countdown {
  margin: 0px 8px;
  padding: 0px 8px;
  border: 3px solid #ff0000;
  border-radius: 20px;
  height: 50px;
  background-color: #ffb200;
}

.countdown h1 {
  font-size: 30px;
  margin: 10px 5px 0px 5px;
  padding: 0px;
  font-family: supermario;
  color: white;
}

.imprint {
  font-family: pixelFont;
  font-size: 20px;
  margin: 10px;
}