@font-face {
  font-family: supermario;
  src: url("../fonts/SuperMario256.ttf");
}
@font-face {
  font-family: pixelFont;
  src: url("../fonts/MP16REG.ttf");
}
@font-face {
  font-family: pixelIconFont;
  src: url(../fonts/MP16TO1.ttf);
}
/* All responsive changes here **/
/* Changes to the header panel */
.menubar {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .nav a {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 1120px) {
  .nav a {
    font-size: 30px !important;
  }
  .left {
    display: none !important;
  }
  .right {
    display: none !important;
  }
  .main {
    width: 80% !important;
    margin-right: auto;
    margin-left: auto;
  }
  .sign-in {
    display: none;
  }
  .sign-in-small {
    display: flex !important;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media only screen and (max-width: 900px) {
  .nav a {
    font-size: 25px !important;
  }
}
@media only screen and (max-width: 768px) {
  .menubar {
    display: block !important;
  }
  .navbar {
    display: none;
  }
}
/* Changes to the content pane */
@media only screen and (max-width: 1120px) {
  .content {
    width: 80% !important;
  }
}
/* Change the headline size */
@media only screen and (max-width: 360px) {
  .headline {
    font-size: 31px !important;
  }
}
@media only screen and (max-width: 400px) and (min-width: 361px) {
  .headline {
    font-size: 35px !important;
  }
}
@media only screen and (max-width: 500px) and (min-width: 401px) {
  .headline {
    font-size: 38px !important;
  }
}
@media only screen and (max-width: 600px) and (min-width: 501px) {
  .headline {
    font-size: 48px !important;
  }
}
@media only screen and (max-width: 768px) and (min-width: 601px) {
  .headline {
    font-size: 58px !important;
  }
}
@media only screen and (max-width: 600px) {
  .headline-supermario {
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black !important;
    -webkit-text-stroke-width: 2px !important;
  }
}
/* General adjustments footer and text size */
@media only screen and (max-width: 400px) {
  .sub-headline {
    font-size: 18px !important;
  }
  p {
    font-size: 15px !important;
  }
  .divider {
    height: 100px !important;
  }
}
@media only screen and (max-height: 600px) {
  .content {
    margin-bottom: 50px !important;
  }
  .footer {
    height: 50px !important;
  }
  .sign-in {
    bottom: 35px !important;
  }
}
/* Adjustments for the schedule section */
@media only screen and (max-width: 400px) {
  .schedule-item .row {
    height: auto !important;
  }
  .schedule-item {
    width: 100% !important;
  }
  .plant {
    display: none;
  }
  .schedule-day:before {
    display: none !important;
  }
  .schedule-day {
    padding: 0px !important;
    margin: 0px !important;
  }
  .schedule {
    margin-top: 0px !important;
  }
}
@media only screen and (max-width: 768px) {
  .img-row {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .img-cell img {
    width: 50% !important;
  }
  .img-cell {
    width: 40% !important;
  }
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.row .flex {
  width: 100%;
}
.column .flex {
  height: 100%;
}
.full {
  height: 100%;
}
.center {
  -webkit-align-items: center;
  align-items: center;
}
.center-justified {
  -webkit-justify-content: center;
  justify-content: center;
}
.container {
  position: relative;
  height: 100%;
}
.align-right {
  float: right;
}
.wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.grad {
  background: -webkit-linear-gradient(#7396ef, #ffffff);
  /* For Safari 5.1 to 6.0 */

  background: -o-linear-gradient(#7396ef, #ffffff);
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(#7396ef, #ffffff);
  /* For Firefox 3.6 to 15 */

  background: linear-gradient(#7396ef, #ffffff);
  /* Standard syntax */

}
.img-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
}
.img-cell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.img-cell img {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
}
.img-cell .img-kit {
  width: 60%;
}
.img-cell .img-cf {
  width: 60%;
}
body {
  margin: 0;
  height: 100%;
  background: -webkit-linear-gradient(#7396ef, #ffffff);
  /* For Safari 5.1 to 6.0 */

  background: -o-linear-gradient(#7396ef, #ffffff);
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(#7396ef, #ffffff);
  /* For Firefox 3.6 to 15 */

  background: linear-gradient(#7396ef, #ffffff);
  /* Standard syntax */

  background-repeat: no-repeat;
}
.header {
  width: 100%;
  margin-bottom: 50px;
}
.headline {
  font-size: 80px;
  margin: 0;
  padding: 0;
}
.sub-headline {
  font-size: 24px;
}
.nav {
  width: 100%;
  min-width: 100px;
  height: 150px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.nav a {
  text-decoration: none;
  font-size: 30px;
}
.brand {
  width: 100%;
  max-width: 250px;
  margin-left: 20px;
  margin-right: 70px;
  height: auto;
  min-width: 100px;
}
.menu {
  margin-top: 25px;
  margin-right: 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.left,
.right {
  width: 20%;
}
.main {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 930px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.schedule-item {
  width: 60%;
  height: auto;
  float: left;
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto;
}
.divider {
  height: 200px;
}
.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar {
  min-height: 150px;
  width: 100%;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
}
p {
  font-family: pixelFont;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
a {
  outline: 0;
  color: #000000;
  display: inline;
}
a:hover {
  color: #ffb200;
}
a:active {
  color: #ffb200;
}
.dropdown,
.dropdown > dd,
.dropdown > dt {
  margin: 0;
  padding: 0;
}
.dropdown > dd {
  position: relative;
}
.dropdown dd > ul {
  margin: 0;
  padding: 5px 25px;
  list-style: none;
  background: #fff;
  border: 2px solid black;
  display: none;
  position: absolute;
  top: 2px;
  right: 0;
  width: auto;
}
.dropdown dd > li {
  margin: 5px;
  padding: 0px;
}
/** All styles associated with the super mario theme */
.headline-supermario {
  font-family: supermario;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}
.nav-supermario {
  font-family: supermario;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.pixel {
  font-family: pixelFont;
}
.ground {
  background-image: url("../img/ground.svg");
  background-repeat: repeat-x;
  background-size: contain;
}
.cloud1 {
  background-image: url("../img/cloud1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cloud2 {
  background-image: url("../img/cloud2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cloud3 {
  background-image: url("../img/cloud3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cloud4 {
  background-image: url("../img/cloud4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cloud {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.clock {
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 31px;
  margin-right: 8px;
}
.plant:before {
  content: "";
  background-image: url("../img/plant-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  top: -40px;
  width: 50px;
  height: 50px;
}
.plant:after {
  content: "";
  background-image: url("../img/plant-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: -5px;
  width: 50px;
  height: 50px;
}
.plant {
  margin-top: 50px;
  margin-bottom: -100px;
  background-image: url("../img/plant-middle.svg");
  background-repeat: repeat-y;
  background-size: contain;
  position: relative;
  height: 90%;
  width: 50px;
}
.countdown {
  margin: 0px 8px;
  padding: 0px 8px;
  border: 3px solid #ff0000;
  border-radius: 20px;
  height: 50px;
  background-color: #ffb200;
}
.countdown h1 {
  font-size: 30px;
  margin: 10px 5px 0px 5px;
  padding: 0px;
  font-family: supermario;
  color: white;
}
.sign-in {
  width: 200px;
  height: auto;
  position: fixed;
  margin: 10px;
  bottom: 55px;
  right: 0;
}
.sign-in-small {
  display: none;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  float: right;
  margin: 0 10px;
  background-color: #e59938;
  font-family: supermario;
  font-size: 30px;
  height: 50%;
  text-align: center;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px black solid;
  text-shadow: 0 0 4px #f5d22e, 0 0 4px #f5d22e, 0 0 4px #f5d22e;
}
.imprint {
  text-decoration: none;
  font-family: pixelFont;
  font-size: 20px;
  margin: 10px;
}
.schedule-day {
  position: relative;
  max-width: 500px;
  padding: 15px 40px;
  margin: 30px 0;
}
.schedule-day:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  background-image: url("../img/plant-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
.schedule {
  margin-top: 50px;
}
.schedule-day .row .time {
  min-width: 120px;
}
