@font-face {
  font-family: supermario;
  src: url("../font/SuperMario256.ttf");
}
@font-face {
  font-family: pixelFont;
  src: url("../font/MP16REG.ttf");
}
@font-face {
  font-family: pixelIconFont;
  src: url(../font/MP16TO1.ttf);
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.row .flex {
  height: 100%;
}
.column .flex {
  width: 100%;
}
.full {
  height: 100%;
}
.center {
  -webkit-align-items: center;
  align-items: center;
}
.center-justified {
  -webkit-justify-content: center;
  justify-content: center;
}
.container {
  position: relative;
  height: 100%;
}
.right {
  float: right;
}
.end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.grad {
  background: -webkit-linear-gradient(#7396ef, #ffffff);
  /* For Safari 5.1 to 6.0 */

  background: -o-linear-gradient(#7396ef, #ffffff);
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(#7396ef, #ffffff);
  /* For Firefox 3.6 to 15 */

  background: linear-gradient(#7396ef, #ffffff);
  /* Standard syntax */

}
.img-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
  background-color: white;
}
.img-cell {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
  height: 100%;
  background: -webkit-linear-gradient(#7396ef, #ffffff);
  /* For Safari 5.1 to 6.0 */

  background: -o-linear-gradient(#7396ef, #ffffff);
  /* For Opera 11.1 to 12.0 */

  background: -moz-linear-gradient(#7396ef, #ffffff);
  /* For Firefox 3.6 to 15 */

  background: linear-gradient(#7396ef, #ffffff);
  /* Standard syntax */

  background-repeat: no-repeat;
}
* {
  display: block;
}
.left,
.right {
  width: 20%;
}
.main {
  width: 60%;
  margin-bottom: 70px;
}
.footer {
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar {
  margin-bottom: 70px;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
}
p {
  font-family: pixelFont;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
a {
  outline: 0;
  color: black;
  display: inline;
}
a:hover {
  color: #ffb200;
}
a:active {
  color: #ffb200;
}
.content {
  max-width: 910px;
}
/** All styles associated with the super mario theme */
.nav-supermario {
  font-family: supermario;
  font-size: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.nav-supermario a {
  text-decoration: none;
}
.ground {
  background-image: url("../img/ground.svg");
  background-repeat: repeat-x;
  background-size: contain;
}
.cloud1 {
  background-image: url("../img/cloud1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}
.cloud2 {
  background-image: url("../img/cloud2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 240px;
  height: 150px;
}
.cloud3 {
  background-image: url("../img/cloud3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 270px;
  height: 150px;
}
.cloud4 {
  background-image: url("../img/cloud4.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
}
.clock {
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 31px;
  margin-right: 8px;
}
.plant:before {
  content: "";
  background-image: url("../img/plant-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  top: -40px;
  width: 50px;
  height: 50px;
}
.plant {
  background-image: url("../img/plant-middle.svg");
  background-repeat: repeat-y;
  background-size: contain;
  position: relative;
  height: 100%;
  width: 50px;
}
.countdown {
  margin: 0px 8px;
  padding: 0px 8px;
  border: 3px solid #ff0000;
  border-radius: 20px;
  height: 50px;
  background-color: #ffb200;
}
.countdown h1 {
  font-size: 30px;
  margin: 10px 5px 0px 5px;
  padding: 0px;
  font-family: supermario;
  color: white;
}
.sign-in {
  width: 200px;
  height: auto;
  position: fixed;
  margin: 10px;
  bottom: 55px;
  right: 0;
}
.imprint {
  text-decoration: none;
  font-family: pixelFont;
  font-size: 20px;
  margin: 10px;
}
.schedule-day {
  position: relative;
  max-width: 500px;
  padding: 15px 50px;
  margin: 30px 0;
}
.schedule-day:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  background-image: url("../img/plant-bottom.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}
.schedule {
  margin-top: 50px;
}
.schedule-day .row {
  margin-left: 50px;
}
.schedule-day .row .time {
  min-width: 150px;
}
